# Auto detect text files and perform LF normalization
* text=auto

# Markdown files
*.md text

# Scripts
*.sh text eol=lf
*.ps1 text eol=crlf

# Documentation
docs/* linguist-documentation
*.md linguist-documentation
